#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: -webkit-linear-gradient(
    90deg,
    #121959,
    #172179,
    #384194
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #121959,
    #172179,
    #384194
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.imagenPerfil {
  height: 350px;
  width: 300px;
  border-radius: 200px;
  border: 1px solid #fff;
  object-fit: cover;
  object-position: center;
}

.botonDescargar {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: large;
  padding: 10px;
  border-radius: 30px;
  box-shadow: -2px 0px 57px 11px rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: -2px 0px 57px 11px rgba(255, 255, 255, 0.85);
  -moz-box-shadow: -2px 0px 57px 11px rgba(255, 255, 255, 0.85);
  transition: 1s;
}

.botonDescargar:hover {
  background-color: green;
  color: #fff;
}

.contenedorVideo {
  text-decoration: none !important;
  color: #fff;
  max-width: 500px;
  transition: 1s ease;
}

.contenedorVideo:hover {
  background-color: #fff;
  color: #000 !important;
}

.colorFondoModal {
  background-color: #172179;
}

.colorFondo {
  background-color: rgba(0, 0, 0, 0.8);
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: #25d366;
  color: white;
  padding: 5px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.2s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}